body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
}

/* Section */
.coming-soon-section {
    min-height: 100vh;
}

/* Logo */
.logo {
    max-width: 220px;
}

/* Countdown */
.countdown .time-box {
    background: #f1f3f8;
    padding: 12px 18px;
    border-radius: 8px;
    text-align: center;
    min-width: 90px;
}

.countdown h3 {
    margin: 0;
    font-weight: 700;
}

.countdown span {
    font-size: 13px;
    color: #666;
}

/* Subscribe */
.subscribe-form input {
    height: 48px;
}

.subscribe-form button {
    height: 48px;
}

/* Social Icons */
.social-icons a {
    font-size: 18px;
    margin-right: 15px;
    color: #333;
    text-decoration: none;
}
 

/* Right Image */
.coming-img {
    max-width: 90%;
}
/* Full height center */
.coming-soon-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    max-width: 260px;
}

/* Countdown */
.countdown {
    margin-top: 20px;
}

.time-box {
    background: #eef1f7;
    padding: 14px 22px;
    border-radius: 8px;
    min-width: 90px;
}

.time-box h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 2px;
}

.time-box span {
    font-size: 13px;
    color: #555;
}

/* Heading */
h1 {
    font-size: 55px;
    font-weight: 800;
    margin-top: 20px;
}

/* Description */
p {
    max-width: 520px;
    margin: 0 auto 25px;
}

/* Subscribe form */
.subscribe-form {
    max-width: 520px;
    margin: auto;
}

.subscribe-form input {
    height: 50px;
    background: #eef1f7;
    border: none;
}

.subscribe-form button {
    height: 50px;
    background: #1f2b6c;
    border: none;
     width: 30%;

}

/* Social icons */
.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 0 6px;
    color: #333;
}

/* .social-icons a:hover {
    background: #1f2b6c;
    color: #fff;
} */

.social-icons a i{
    color: #1f2b6c;
}

.btn:hover{
    background-color: #1f2b6c;
    color: white;
}